@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap');

:root {
    --white: #faf8f6;
    --grey: #49566d;
    --dark-blue: #172339;
    --violet: #a060ff;
    --purple: #cb30e3;
    --orange: #ffa84e;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 1rem;
    font-family: 'Epilogue', sans-serif;
    color: var(--grey);
    word-spacing: 0px;
    font-size: 18px;
    line-height: 32px;
}

.custom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

.btn-primary {
    background: var(--dark-blue);
    border: none;
    border-radius: 4px;
    color: var(--white);
    font-weight: bold;
    font-size: 14px;
    padding: 1rem;
}

.btn-primary:hover {
    background: linear-gradient(165deg, var(--violet), var(--purple), var(--orange))
}

.btn-secondary {
    background: none;
    border: 1px solid var(--dark-blue);
    border-radius: 4px;
    color: var(--dark-blue);
    font-weight: bold;
    font-size: 14px;
    padding: 1rem;
}

.btn-secondary:hover {
    background: var(--dark-blue);
    color: var(--white);
}

.heading-xl {
    font-size: 72px;
    line-height: 78px;
    word-spacing: -1px;
}

.heading-l {
    font-size: 48px;
    line-height: 56px;
    word-spacing: -0.5px;
}

.heading-m {
    font-size: 18px;
    line-height: 32px;
    word-spacing: -0.2px;
    text-transform: uppercase;
}

.heading-s {
    font-size: 16px;
    line-height: 26px;
    word-spacing: -2.5px;
}

.quote {
    font-size: 20px;
    line-height: 32px;
    word-spacing: 0px;
}

.footer {
    font-size: 15px;
    line-height: 32px;
    word-spacing: -2.5px;
}

#phone-picture {
    margin-top: 2rem;
    width: 100%;
}

.spec-box {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;

}

.spec-box>.value {
    font-weight: bold;
    font-size: 3rem;
    color: var(--dark-blue);
}

.spec-box>.name {
    margin-top: 0.5rem;
    text-transform: uppercase;
}

.footer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background: var(--white);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.social-btns>* {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.middle-section {
    display: flex;
    background: #172339;
    color: var(--white);
    font-family: 'Epilogue', sans-serif;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    text-align: center;
    margin-top: 14rem;
    border-radius: 16px;
    padding: 2rem;
}

#main-section-name {
    align-items: center
}

.neg-margin {
    margin-top: -13rem;
}

.solution-arch {
    width: 12rem;
}

#solution-span {
    display: inline-block;
}

#catch-phrase-color {
    color: var(--dark-blue);
}

#pic-merge {
    position: relative;
}

#pic-merge>picture {
    position: relative;
    z-index: 2;
}

#pic-merge>img {
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);


}



@media screen and (min-width:768px) {
    #spec-section {
        display: flex;
        justify-content: space-between;
        padding: 4rem 10rem 1rem 10rem;
    }

    .spec-footer {
        flex-flow: row;
        justify-content: space-between;
        padding: 4rem 1rem 4rem 1rem;
    }

    .width-768 {
        display: flex;
        justify-content: center;
        margin-left: 4rem;
    }

    .picture-position {
        margin-left: -4rem;

    }

    p.paragraph-width {
        max-width: 350px;
    }

    .picture-size {
        width: 281;
        height: 482;
    }

    .catch-phrase-size {
        max-width: 573px;
        position: relative;
    }

    .custom-header {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .spec-footer {
        padding-left: 4rem;
        padding-right: 4rem;

    }

    .middle-section {
        position: relative;
        margin-left: 4rem;
        margin-right: 4rem;
        margin-bottom: -30rem;
        z-index: 2;
    }

    .footer-box {
        position: relative;
        bottom: 0;
        height: 640px;
        z-index: 1;
        align-items: flex-end;
    }
}

@media screen and (min-width:1440px) {
    .spec-section-1440p {
        flex-flow: column nowrap;
        position: absolute;
        justify-content: center;
        align-items: center;
        right: 14rem;
        top: 5rem;
    }

    .width-1440p {
        display: flex;
        position: static;
        margin-left: -10rem;
    }

    #main-column-1440p {
        position: relative;
    }

    .middle-section {
        display: flex;
        flex-flow: row;
        text-align: left;
        justify-content: center;
    }

    .neg-margin {
        margin-bottom: -2.7rem;
    }

    .quote {
        max-width: 350px;
    }

    .custom-header {
        padding-left: 10rem;
        padding-right: 10rem;
    }

    .spec-footer {
        padding-left: 10rem;
        padding-right: 10rem;
    }

    .middle-section {
        margin-left: 10rem;
        margin-right: 10rem;
        margin-bottom: -20rem;
    }

    .footer-box {
        height: 464px;
    }
}